<!DOCTYPE HTML>
<html ng-app="index">

<head>
    <title
        ng-bind-template="{{ $$childTail.index.config.page_title }} - {{ $$childTail.index.path }} ({{ $$childTail.index.files.length }})">
        Files Index</title>
    <script src="lib/angular.min.js"></script>
    <script src="index.js"></script>
    <link type="text/css" rel="stylesheet" href="lib/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="style.css" />
    <meta charset="utf-8" />
</head>

<body style="margin: 10px 20px">
    <div ng-controller="ScrollToTopController as scroll" class="pull-right" id="scroll-to-top" ng-show="scroll.show"><a
            href="" ng-click="scroll.to_top(); $event.preventDefault()"><i class="glyphicon glyphicon-arrow-up"></i> to
            top</a></div>
    <div ng-controller="IndexController as index" class="container-fluid ng-cloak">
        <div class="row">
            <ol class="breadcrumb" style="left: 20px; right: 20px; position: fixed; z-index: 1000;">
                <li><a href="" ng-click="index.reload()" title="Reload"><i
                            ng-class="{'loader': index.reloading.running || index.loading.running}"
                            class="glyphicon glyphicon-refresh"></i></a></li>
                <li ng-class="::{'active': $last}" ng-repeat="part in index.path_parts track by part.name"><span
                        ng-if="::$last">{{:: part.name }} <small
                            ng-if="index.files.length > 5">({{index.files.length}})</small></span><a ng-if="::!$last"
                        href="#!{{:: part.path }}" ng-bind="::part.name"></a></li>
            </ol>
        </div>

        <div class="row" style="margin-top: 3em;" ng-hide="index.error">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <th class="col-md-9" ng-class="{'info': index.sort.name == 'name'}"><a title="Reset sort"
                                class="pull-left" href=""
                                ng-style="{'visibility': index.sort.name ? 'visible' : 'hidden'}"
                                ng-click="index.sort.reset()"><i class="glyphicon glyphicon-sort"></i>&nbsp;</a><a
                                ng-click="index.sort.toggle('name', false)" href="">Name
                                <i ng-show="index.sort.name == 'name'" class="glyphicon pull-right"
                                    ng-class="index.sort.rev ? 'glyphicon-sort-by-alphabet-alt': 'glyphicon-sort-by-alphabet'"></i></a>
                        </th>
                        <th class="col-md-2" ng-class="{'info': index.sort.name == 'mtime'}"><a
                                ng-click="index.sort.toggle('mtime', true)" href="">Date modified
                                <i ng-show="index.sort.name == 'mtime'" class="glyphicon pull-right"
                                    ng-class="index.sort.rev ? 'glyphicon-sort-by-order-alt': 'glyphicon-sort-by-order'"></i></a>
                        </th>
                        <th class="col-md-1" ng-class="{'info': index.sort.name == 'size'}"><a
                                ng-click="index.sort.toggle('size', false)" href="">Size
                                <i ng-show="index.sort.name == 'size'" class="glyphicon pull-right"
                                    ng-class="index.sort.rev ? 'glyphicon-sort-by-attributes-alt': 'glyphicon-sort-by-attributes'"></i></a>
                        </th>
                    </thead>
                    <tbody>
                        <tr ng-hide="index.path == '' || index.path == '/'">
                            <td ng-click="index.go_up()"><a href=""><i class="glyphicon glyphicon-level-up"></i> ..</a>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr ng-repeat="row in index.files | orderBy:index.sort.name:index.sort.rev track by row.name">
                            <td><a
                                    href="{{:: row.type == 'directory' ? '#!' : index.config.base_index_url }}{{:: index.path }}/{{:: row.name }}"><i
                                        class="glyphicon"
                                        ng-class="::{ 'glyphicon-folder-close': row.type == 'directory', 'glyphicon-file': row.type == 'file', 'glyphicon-question-sign': row.type == 'other' }"></i>
                                    {{:: row.name }}</a></td>
                            <td>{{:: row.mtime | date:'yyyy/MM/dd hh:mm:ss' }}</td>
                            <td><span title="{{:: row.size }}" ng-bind=":: row.size | humanize"
                                    ng-if=":: row.size != undefined"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row" style="margin-top: 60px;" ng-show="index.error">
            <div class="alert alert-danger" role="alert">
                <big>
                    <strong>Alert!</strong>
                    <span ng-if="index.error.status"> Error {{ index.error.status }} occurred, and it means </span>
                    “{{ index.error.statusText || 'Server is out of reach' }}”.
                </big>
            </div>
        </div>
    </div>
</body>

</html>