.ng-cloak {
    display: none !important;
}

table.table tr a {
    display: block;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.loader {
    animation: rotate 1s infinite linear;
}

#scroll-to-top {
    position: fixed;
    z-index: 2000;
    right: 30px;
    top: 1.25em;
}